# ========================
# PYTHON
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# DJANGO
# ========================
db.sqlite3
media/
staticfiles/

# ========================
# ENVIRONNEMENT
# ========================
venv/
env/
.env

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# SYSTEM FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# LOGS
# ========================
*.log

# ========================
# SECRET FILES
# ========================
*.pem
*.key